:root {
  --backgroundSize: 48px;
  --buttonColor: rgb(221, 40, 94);
  --pageColor: aliceblue;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

.custom-cursor {
  cursor: url("../assets/images/cursor.gif"), auto;
}

h1 {
  font-family: "PixelOperator", sans-serif;
  font-style: bold;
  font-weight: 100;
}

body {
  padding-top: 20px;
  padding-bottom: 80px;
  width: 900px;
  margin: auto;
  font-size: larger;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background-image: url("../assets/images/sky.png");
  background-repeat: repeat;
  background-position: top right;
}

footer {
  font-family: sans-serif;
  font-size: 16px;
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
}

#aboutMeSection {
  margin-top: 5px;
  overflow-y: scroll;
}

#aboutMeSection::-webkit-scrollbar {
  display: none;
}

#chattable {
  margin-top: 0px;
  padding-top: 0%;
  width: 238px;
  height: 300px;
  border-radius: 10px 10px 5px 5px;
}

#aboutme {
  display: flex;
  align-items: felx-end;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

#portait {
  width: 35%;
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
}

#desc {
  width: auto;
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

#listening {
  margin-top: 10px;
  display: flex;
  padding: 5px;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
}

#artistName {
  margin: auto;
  font-family: "PixelOperator";
  font-size: large;
  text-align: right;
}

#trackName {
  padding-top: 5%;
  margin: auto;
  padding-bottom: 5%;
  font-family: "PixelOperator";
  font-size: large;
  text-align: right;
}

#listening img {
  width: 30%;
  height: 30%;
  border: 2px solid black;
}

#listeningStatus {
  font-weight: bold;
  border-bottom: 1px dotted black;
}

#app {
  position: fixed;
  bottom: 0;
  right: 0;
}

.moutains {
  overflow: hidden;
  position: fixed;
  width: 7680px;
  left: 0;
  bottom: 0%;
  z-index: -10;
  pointer-events: none;
}
.moutains-image {
  background: url("../assets/images/mountains.png") repeat-x;
  height: 200px;
  animation: slide 150s linear infinite;
  pointer-events: none;
}

.trees {
  overflow: hidden;
  position: fixed;
  width: 7680px;
  left: 0;
  bottom: 0%;
  z-index: 10;
  pointer-events: none;
}
.trees-image {
  background: url("../assets/images/trees.png") repeat-x;
  height: 200px;
  animation: slide 50s linear infinite;
  pointer-events: none;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}

.main_logo {
  padding-left: 25%;
  pointer-events: none;
}

.rightSided {
  text-align: right;
}

.title {
  font-weight: bold;
  border-bottom: 1px dotted black;
}

.tab-content {
  margin: auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
}

.navigation-tabs {
  display: grid;
}

.tab-link-nav {
  font-family: "PixelOperator";
  font-size: large;
  flex: 1;
  text-align: center;
  background-color: var(--buttonColor);
  margin-bottom: 5px;
  border-radius: 10px 10px 10px 10px;
}

.tab-content-nav {
  margin: auto;
  padding: 5px;
  border: 1px solid black;
}

.navigation-tabs button {
  display: grid;
  height: auto;
  justify-items: stretch;
}

.tab-content-logs {
  margin: auto;
  padding: 5px;
  border: 1px solid black;
}

.tabs-content-container {
  width: 100%;
  height: auto;
  background-color: var(--pageColor);
  border-radius: 0 0 10px 10px;
}

.tabs-content-container-logs {
  width: 100%;
  background-color: var(--pageColor);
  overflow-y: scroll;
}

.tabs-content-container-logs::-webkit-scrollbar {
  display: none;
}

.tab-link {
  font-family: "PixelOperator";
  font-size: large;
  flex: 1;
  text-align: center;
  background-color: var(--buttonColor);
  border-radius: 25px 25px 0 0;
}

.tab-link-logs {
  font-family: "PixelOperator";
  font-size: large;
  flex: 1;
  text-align: center;
  background-color: var(--buttonColor);
  border-radius: 10px 10px 0 0;
}

.tabs {
  display: flex;
  align-items: felx-end;
  padding: 0;
  margin: 0;
  height: 40px;
  list-style: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.35s;
}

.tab-link:hover {
  background-color: rgb(179, 171, 213);
}

.tab-link-logs:hover {
  background-color: rgb(179, 171, 213);
}

.tab-link-nav:hover {
  background-color: rgb(179, 171, 213);
}

.collapsible {
  background-color: transparent;
  font-family: "PixelOperator";
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  border: none;
  outline: none;
  font-size: 24px;
}

.active,
.collapsible:after {
  content: "\2212";
}

.collapsible:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

.box {
  border: 1px solid black;
  border-style: dotted;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
}

.display {
  width: 100%;
  height: auto;
}

.displayer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 5px;
}

.about-grid {
  display: grid;
  grid-template-columns: auto 250px;
  grid-template-rows: auto;
  gap: 5px;
}

.work-grid {
  display: grid;
  grid-template-columns: auto 250px;
  grid-template-rows: auto;
  gap: 5px;
}

.work {
}

.navigation {
}

.home-grid {
  display: grid;
  grid-template-columns: auto auto auto auto 250px;
  grid-template-rows: repeat(7, auto);
  gap: 5px;
  border-radius: 0px 0px 10px 10px;
}

.welcome {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.adds {
  grid-column-start: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

.chat {
  grid-column-start: 5;
  grid-row-start: 2;
  grid-row-end: 6;
}

.status {
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.neighbors {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 4;
  width: 315px;
}

.logs {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;
  width: 315px;
}

.marqueeItems {
  width: 100%;
  height: 31px;
  position: relative;
  overflow: hidden;
}
.marqueeItems div {
  width: 100%;
  display: flex;
  gap: 5px;
  position: absolute;
}
.marqueeItems div {
  animation: marquee ease-in-out 6s alternate infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-106%, 0);
  }
}

@keyframes movingBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: var(--backgroundSize) var(--backgroundSize);
  }
}

.done {
  text-decoration: line-through;
}

@font-face {
  font-family: "PixelOperator";
  src: url("./fonts/PixelOperator.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelOperator";
  src: url("./fonts/PixelOperatorSC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}
